<a href="https://colab.research.google.com/github/Rajesh-1234567/50-DAYS-PROJECTS/blob/main/Hotel_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('/content/Hotel_details.csv')
df2 = pd.read_csv('/content/Hotel_Room_attributes.csv')
df3 = pd.read_csv('/content/hotel_price_min_max - Formula.csv')
df4 = pd.read_csv('/content/hotels_RoomPrice.csv')

Data checking part. ------------------------------------------------------------

In [ ]:
df1.head()

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [ ]:
df1['url']

0         https://www.booking.com/hotel/hr/bungalow-luxu...
1         https://www.agoda.com/en-gb/hotel-polonia/hote...
2         http://www.booking.com/hotel/it/rifugio-sass-b...
3         https://www.agoda.com/en-gb/madalena-hotel/hot...
4         http://www.booking.com/hotel/it/pension-morenf...
                                ...
108043    http://www.booking.com/hotel/de/stadt-tuttling...
108044     http://www.booking.com/hotel/bg/beroe.en-gb.html
108045    http://www.booking.com/hotel/bg/rothmans-bansk...
108046    https://www.booking.com/hotel/bg/rainbow-4-bou...
108047    http://www.booking.com/hotel/bg/rainbow-2-caca...
Name: url, Length: 108048, dtype: object

In [ ]:
df2.head()

,id,hotelcode,roomamenities,roomtype,ratedescription
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed"
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"

In [ ]:
df2.rename(columns = {'hotelcode':'hotelid'},inplace = True)

In [ ]:
df_new = df2.merge(df1,on = 'hotelid')

In [ ]:
df_new.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
1,50677498,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
2,50677499,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Deluxe Double Room with Shower,"Room size: 17 m²/183 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
3,50731279,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Superior Double Room,"Room size: 17 m²/183 ft², Shower, 1 double bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
4,63480999,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Standard Double or Twin Room,"Room size: 13 m²/140 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP

In [ ]:
df_new.shape

(181415, 18)

In [ ]:
df_new.isna().sum()

id_x                   0
hotelid                0
roomamenities       5309
roomtype               0
ratedescription     5309
id_y                   0
hotelname              0
address              577
city                   0
country                0
zipcode            86703
propertytype           0
starrating             0
latitude               0
longitude              0
Source                 0
url                    0
curr                   0
dtype: int64

In [ ]:
df_new.duplicated().sum()

0

In [ ]:
df_new.drop(['zipcode'],axis = 1,inplace = True)

In [ ]:
df_new.dropna(inplace = True)

In [ ]:
df_new.shape

(175529, 17)

In [ ]:
df3.rename(columns  = {'hotelcode':'hotelid'},inplace = True)

In [ ]:
pd.set_option('display.max_columns',30)

In [ ]:
df4.head()

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,netrate,currency,ratedescription,ratetype,sourceurl,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,87.84,USD,"Room size: 15 m²/161 ft², Shower, 1 king bed",Cancellation policy,https://www.agoda.com/en-gb/the-old-cider-hous...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,https://www.agoda.com/en-gb/pantlleni/hotel/be...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),https://www.agoda.com/en-gb/willow-cottage/hot...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [ ]:
df6 = df_new.merge(df3,on = 'hotelid')

In [ ]:
df6.duplicated().sum()

0

Data cleaning Part--------------------------------------------------------------------

In [ ]:
df = df6

In [ ]:
df.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,propertytype,starrating,latitude,longitude,Source,url,curr,min,max,Diff_Min,Diff_Max,Score
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.7,0.084,0.418,0.25
1,50677498,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.7,0.084,0.418,0.25
2,50677499,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Deluxe Double Room with Shower,"Room size: 17 m²/183 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.7,0.084,0.418,0.25
3,50731279,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Superior Double Room,"Room size: 17 m²/183 ft², Shower, 1 double bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.7,0.084,0.418,0.25
4,63480999,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Standard Double or Twin Room,"Room size: 13 m²/140 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.7,0.084,0.418,0.25

In [ ]:
df.shape

(175544, 22)

In [ ]:
df.drop(['id_y','latitude','longitude','Source','curr'],axis = 1,inplace = True)

In [ ]:
df.rename(columns = {'id_x':'id'},inplace = True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
indices = df[df['id'].duplicated()].index

In [ ]:
df.drop(index = indices,inplace = True)

In [ ]:
df['id'].duplicated().sum()

0

In [ ]:
df.shape

(160438, 17)

In [ ]:
df.duplicated().sum()

0

In [ ]:
def remove_whitespace(text):
   return  text.replace(' ','')

In [ ]:
df['roomamenities'][0]

'Air conditioning: ;Alarm clock: ;Carpeting: ;Closet: ;Coffee/tea maker: ;Desk: ;DVD/CD player: ;Fan: ;Free Wi-Fi in all rooms!: ;Hair dryer: ;Heating: ;In-room safe box: ;Ironing facilities: ;Linens: ;Mini bar: ;Seating area: ;Toiletries: ;Towels: ;TV [flat screen]: ;'

In [ ]:
df['roomamenities_tag'] = df['roomamenities'].apply(lambda x:x.replace(': ;',','))

In [ ]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(remove_whitespace)

In [ ]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(lambda x:x.split(','))

In [ ]:
print(66071 in df.index)  # For checking index
print(66071 in df.columns)  # For checking columns

False
False

In [ ]:
df['roomtype']

0                            Double Room
1                            Double Room
2         Deluxe Double Room with Shower
3                   Superior Double Room
4           Standard Double or Twin Room
                       ...
175539                Standard Twin Room
175540                Standard Twin Room
175541       1 Double Bed, standard room
175542       1 Double Bed, standard room
175543      2 Single Beds, standard room
Name: roomtype, Length: 160438, dtype: object

In [ ]:
df['roomtype_tag'] = df['roomtype'].apply(remove_whitespace)

In [ ]:
df['roomtype_tag'] =  df['roomtype_tag'].apply(lambda x:[x])

In [ ]:
df['ratedescription']

0              Room size: 15 m²/161 ft², Shower, 1 king bed
1              Room size: 15 m²/161 ft², Shower, 1 king bed
2         Room size: 17 m²/183 ft², Shower, 1 queen bed ...
3            Room size: 17 m²/183 ft², Shower, 1 double bed
4         Room size: 13 m²/140 ft², Shower, 1 queen bed ...
                                ...
175539              Room size: 16 m²/172 ft², 2 single beds
175540              Room size: 16 m²/172 ft², 2 single beds
175541    Room size: 20 m²/215 ft², Balcony/terrace, 1 d...
175542    Room size: 20 m²/215 ft², Balcony/terrace, 1 d...
175543              Room size: 20 m²/215 ft², 2 single beds
Name: ratedescription, Length: 160438, dtype: object

In [ ]:
import re

def transform(text):
    return re.sub(r'Room size: \d+ m²/\d+ ft², ','',text)

In [ ]:
df['ratedescription_tag'] = df['ratedescription'].apply(transform)

In [ ]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(remove_whitespace)

In [ ]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(lambda x:x.split(','))

In [ ]:
df['address'].nunique()

8435

In [ ]:
df['address_tag'] = df['address'].apply(remove_whitespace)

In [ ]:
df['address_tag'] = df['address_tag'].apply(lambda x:x.split())

In [ ]:
df['city_tag'] = df['city'].apply(remove_whitespace)

In [ ]:
df['city_tag'] = df['city_tag'].apply(lambda x:x.split())

In [ ]:
df['city_tag']

0         [NetherStowey]
1         [NetherStowey]
2         [NetherStowey]
3         [NetherStowey]
4         [NetherStowey]
               ...
175539        [Merignac]
175540        [Merignac]
175541        [Merignac]
175542        [Merignac]
175543        [Merignac]
Name: city_tag, Length: 160438, dtype: object

In [ ]:
df['country_tag'] = df['country'].apply(remove_whitespace)

In [ ]:
df['country_tag'] = df['country_tag'].apply(lambda x:x.split())

In [ ]:
df['country_tag']

0         [UnitedKingdom]
1         [UnitedKingdom]
2         [UnitedKingdom]
3         [UnitedKingdom]
4         [UnitedKingdom]
               ...
175539           [France]
175540           [France]
175541           [France]
175542           [France]
175543           [France]
Name: country_tag, Length: 160438, dtype: object

In [ ]:
df['propertytype_tag'] = df['propertytype'].apply(remove_whitespace)

In [ ]:
df['propertytype_tag'] = df['propertytype_tag'].apply(lambda x:x.split())

In [ ]:
df.head()

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,min,max,Diff_Min,Diff_Max,Score,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.7,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
1,50677498,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.7,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
2,50677499,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Deluxe Double Room with Shower,"Room size: 17 m²/183 ft², Shower, 1 queen bed ...",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.7,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DeluxeDoubleRoomwithShower],"[Shower, 1queenbedor2singlebeds]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
3,50731279,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Superior Double Room,"Room size: 17 m²/183 ft², Shower, 1 double bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.7,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[SuperiorDoubleRoom],"[Shower, 1doublebed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
4,63480999,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Standard Double or Twin Room,"Room size: 13 m²/140 ft², Shower, 1 queen bed ...",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.7,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[StandardDoubleorTwinRoom],"[Shower, 1queenbedor2singlebeds]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]

Creating tags for each room of the hotels as a list of keywords which will serve as the basis for the recommendation system

In [ ]:
df['tags'] = df['roomamenities_tag'] + df['roomtype_tag'] + df['ratedescription_tag'] + df['address_tag'] + df['city_tag'] + df['country_tag'] + df['propertytype_tag']

In [ ]:
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

In [ ]:
df_final = df[['hotelname','tags','starrating','roomtype','country','city','propertytype']]

In [ ]:
df_final.duplicated().sum()

117114

In [ ]:
df_final.drop_duplicates(inplace = True)

<ipython-input-123-7a8e4ff72485>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop_duplicates(inplace = True)

In [ ]:
df_final.isna().sum()

hotelname       0
tags            0
starrating      0
roomtype        0
country         0
city            0
propertytype    0
dtype: int64

In [ ]:
df_final.reset_index(inplace = True)

In [ ]:
df_final.head(3)

,index,hotelname,tags,starrating,roomtype,country,city,propertytype
0,0,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels
1,2,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Deluxe Double Room with Shower,United Kingdom,Nether Stowey,Hotels
2,3,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Superior Double Room,United Kingdom,Nether Stowey,Hotels

MODEL ______-----------------------------

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def recommend(type,country,city,property):

    ## filtering the dataframe to the requirements of the user
    filtered_df = df_final[
        (df_final['roomtype'] == type) &
        (df_final['country'] == country) &
        (df_final['city'] == city) &
        (df_final['propertytype'] == property)
    ]

    ## creating a temporary dataframe so that we recommend hotels only from the speicified country and city rather than using the entire df which
    ## could lead to results from different cities and countries
    temp = df_final[
        (df_final['country'] == country) &
        (df_final['city'] == city)
    ]

    ## indices of the hotels of user requirements
    idx1 = filtered_df['index'].tolist()

    ## reseting index because we need to search for the indices in idx1 in temp
    temp.reset_index(inplace = True)

    ## extracting the index(of the dataframe) of the specified hotels
    idx2 = temp[temp['index'].isin(idx1)].index.tolist()

    ## creating similarity matrix
    vector = tfidf.fit_transform(temp['tags']).toarray()
    similarity = cosine_similarity(vector)

    ## traverse each user specified hotel and extract top recommend hotels for each specified hotel
    for i in idx2:
        similar_hotels = sorted(list(enumerate(similarity[i])),key = lambda x:x[1],reverse = True)[0:5]
        for hotel in similar_hotels:
            print(tuple(temp.loc[hotel[0]][['hotelname','roomtype']]))

In [ ]:
recommend('Comfort Single Room','Germany','Munich','Hotels')

('Hotel Mons am Goetheplatz', 'Comfort Single Room')
('Hotel Mons am Goetheplatz', 'Standard Single Room')
('Hotel Mons am Goetheplatz', 'Comfort Double Room')
('Hotel Mons am Goetheplatz', 'Single Room with Shared Bathroom')
('Hotel Mons am Goetheplatz', 'Standard Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')
('Hotel Freisinger Hof', 'Classic Single Room - Annex')
('Hotel Freisinger Hof', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Suite')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room')
('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')

In [ ]:
recommend('Superior Double Room','France','Paris','Hotels')

('Timhotel Tour Eiffel', 'Superior Double Room')
('Timhotel Tour Eiffel', 'Comfort Double Room')
('Timhotel Tour Eiffel', 'Comfort Single Room')
('Timhotel Tour Eiffel', 'Comfort Twin Room')
('Timhotel Tour Eiffel', 'Junior Suite')
('Hotel Astoria - Astotel', 'Superior Double Room')
('Hotel Astoria - Astotel', 'Standard Double Room')
('Hotel Astoria - Astotel', 'Triple Room')
('Hotel Astoria - Astotel', 'Standard Twin Room')
('Hotel Astoria - Astotel', 'Superior Twin Room')
('Apogia Hotel', 'Superior Double Room')
('Apogia Hotel', 'Confort Single room')
('Apogia Hotel', 'Comfort Double Room with River View')
('Apogia Hotel', 'Double Room')
('Apogia Hotel', 'Single Room')
('Hotel Du Maine', 'Superior Double Room')
('Hotel Du Maine', 'Standard')
('Hotel Du Maine', 'Premium')
('Comfort Hotel Paris Lafayette', 'Superior Double Room')
('Unic Renoir Saint Germain', 'Superior Double Room')
('Hotel Edouard VI', 'Superior Double Room')
('Hotel Edouard VI', 'Twin Room')
('Hotel Edouard VI', 'Standard Double Room')
('Hotel Edouard VI', 'Superior Twin bed')
('Hotel Wilson Opera', 'Superior Double Room')
('Hotel Beaunier', 'Superior Double Room')
('Hotel Beaunier', 'City Double Room')
('Hotel Beaunier', 'Executive Double Room')
('Hotel Beaunier', 'City Twin Room')
('Hotel Beaunier', 'Junior Suite')
('Madrigal Hotel', 'Superior Double Room')
('Madrigal Hotel', 'Single Room')
('Madrigal Hotel', 'Double - Non-Smoking')
('Madrigal Hotel', 'Twin - Non-Smoking')
('Madrigal Hotel', 'Triple - 1 Double Bed + 1 Single Bed')
('Best Western Paris CDG Airport Hotel', 'Superior Double Room')
('Best Western Paris CDG Airport Hotel', 'Standard Double Room')
('Best Western Paris CDG Airport Hotel', 'Suite')
('Best Western Paris CDG Airport Hotel', 'Family Room')
('Best Western Paris CDG Airport Hotel', 'Standard Twin Room')
('Hotel Chateaudun Opera', 'Superior Double Room')
('Hotel Chateaudun Opera', 'Standard Double Room')
('Villa Eugenie Hotel', 'Superior Double Room')
('Westside Arc de Triomphe Hotel', 'Superior Double Room')
('Le Theatre', 'Superior Double Room')
('LES JARDINS DE MADEMOISELLE & SPA', 'Superior Double Room')
('LES JARDINS DE MADEMOISELLE & SPA', 'Paris Suite with King Bed')
('LES JARDINS DE MADEMOISELLE & SPA', 'Comfort Double Room')
('LES JARDINS DE MADEMOISELLE & SPA', 'Superior Twin Room')
('LES JARDINS DE MADEMOISELLE & SPA', 'Japanese Suite')
('Hotel Odyssey Paris by Elegancia', 'Superior Double Room')
('Hotel Odyssey Paris by Elegancia', 'Deluxe Double Room')
('Hotel Odyssey Paris by Elegancia', 'Odyssey')
('Hotel Odyssey Paris by Elegancia', 'cOcoon')
('Hotel Wilson Opera', 'Superior Double Room')
('Coypel Hotel', 'Superior Double Room')
('Coypel Hotel', 'Double Room')
('Coypel Hotel', 'Single Room')
('Coypel Hotel', 'Twin Room')
('Coypel Hotel', 'Triple Family Room')
('Declic Hotel', 'Superior Double Room')
('Declic Hotel', 'Suite')
('Declic Hotel', 'Deluxe Double Room')
('Declic Hotel', 'Classic Double Room')
('Declic Hotel', 'Dark Room Suite')
('Le Theatre', 'Superior Double Room')
('Le Theatre', 'Standard Double or Twin Room')
('Le Theatre', 'Superior Single Room')
('Qualys-Hotel Nanterre-Paris La Defense', 'Superior Double Room')
('Contact Hotel Alize Montmartre', 'Superior Double Room')
('Hotel Wilson Opera', 'Superior Double Room')
('Hotel Wilson Opera', 'Superior Double Room with Balcony')
('Hotel Wilson Opera', 'Deluxe Room')
('Hotel Wilson Opera', 'Classic Double Room')
('Hotel Wilson Opera', 'Superior Twin Room')
('Comfort Hotel Paris Lafayette', 'Superior Double Room')
('Comfort Hotel Paris Lafayette', 'Double Room')
('Comfort Hotel Paris Lafayette', 'Twin Room')
('Comfort Hotel Paris Lafayette', 'Single Room')
('Hotel Du Maine', 'Superior Double Room')
('CasaO', 'Superior Double Room')
('CasaO', 'Deluxe Double Room')
('CasaO', 'Cosy Room')
('Hotel Odyssey Paris by Elegancia', 'Superior Double Room')
('Le Theatre', 'Superior Double Room')
('Raspail Montparnasse', 'Superior Double Room')
('Raspail Montparnasse', 'Classic Double Room')
('Raspail Montparnasse', 'Comfort Double Room')
('Raspail Montparnasse', 'Classic Single Room')
('Raspail Montparnasse', 'Junior Suite')
('Westside Arc de Triomphe Hotel', 'Superior Double Room')
('Westside Arc de Triomphe Hotel', 'Deluxe Double Room')
('Westside Arc de Triomphe Hotel', 'Superior Twin Room')
('Westside Arc de Triomphe Hotel', 'Classic Double')
('Westside Arc de Triomphe Hotel', 'Deluxe Twin Room')
('Timhotel Montmartre', 'Superior Double Room')
('Timhotel Montmartre', 'Comfort Double Room')
('Timhotel Montmartre', 'Comfort Single Room')
('Timhotel Montmartre', 'Superior Triple Room')
('Timhotel Montmartre', 'Suite with Paris View')
('Qualys-Hotel Nanterre-Paris La Defense', 'Superior Double Room')
('Qualys-Hotel Nanterre-Paris La Defense', 'Superior Twin Room')
('Qualys-Hotel Nanterre-Paris La Defense', 'Double Room')
('Qualys-Hotel Nanterre-Paris La Defense', 'Twin Room')
('Qualys-Hotel Nanterre-Paris La Defense', 'Triple - 1 Double Bed And 1 Single Bed')
('Contact Hotel Alize Montmartre', 'Superior Double Room')
('Contact Hotel Alize Montmartre', 'Business Double Room')
('Contact Hotel Alize Montmartre', 'Suite')
('Contact Hotel Alize Montmartre', 'Comfort Double / Twin Room')
('Timhotel Tour Eiffel', 'Superior Double Room')
('Hotel Berkeley', 'Superior Double Room')
('Hotel Berkeley', 'Double Room')
('Hotel Berkeley', 'Single Room')
('Hotel Berkeley', 'Standard Room')
('Hotel Edouard VI', 'Superior Double Room')
('Unic Renoir Saint Germain', 'Superior Double Room')
('Unic Renoir Saint Germain', 'Single Standard')
('Unic Renoir Saint Germain', 'Classic Double or Twin Room')
('Villa Eugenie Hotel', 'Superior Double Room')
('Best Western Paris CDG Airport Hotel', 'Superior Double Room')
('Villa Eugenie Hotel', 'Superior Double Room')
('Villa Eugenie Hotel', 'Standard Room')
('Villa Eugenie Hotel', 'Run of House')
('Villa Eugenie Hotel', 'Classic Room')
('Villa Eugenie Hotel', 'Single Room')

In [ ]:
import pickle

# Assuming tfidf and the similarity matrix have been created already
model_data = {
    'tfidf_vectorizer': tfidf,
    'df_final': df_final
}

# Save the model data (including the tfidf model and dataframe)
with open('recommendation_model.pkl', 'wb') as file:
    pickle.dump(model_data, file)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pickle

# Load the saved model data
with open('recommendation_model.pkl', 'rb') as file:
    model_data = pickle.load(file)

# Extract the saved data
tfidf_loaded = model_data['tfidf_vectorizer']
df_final_loaded = model_data['df_final']

# Define the recommend function again
def recommend(type, country, city, property):
    filtered_df = df_final_loaded[
        (df_final_loaded['roomtype'] == type) &
        (df_final_loaded['country'] == country) &
        (df_final_loaded['city'] == city) &
        (df_final_loaded['propertytype'] == property)
    ]

    temp = df_final_loaded[
        (df_final_loaded['country'] == country) &
        (df_final_loaded['city'] == city)
    ]

    idx1 = filtered_df['index'].tolist()
    temp.reset_index(inplace=True)
    idx2 = temp[temp['index'].isin(idx1)].index.tolist()

    vector = tfidf_loaded.fit_transform(temp['tags']).toarray()
    similarity = cosine_similarity(vector)

    for i in idx2:
        similar_hotels = sorted(list(enumerate(similarity[i])), key=lambda x: x[1], reverse=True)[0:5]
        for hotel in similar_hotels:
            print(tuple(temp.loc[hotel[0]][['hotelname', 'roomtype']]))

# Now you can use the loaded model for recommendations
recommend('Comfort Single Room', 'Germany', 'Munich', 'Hotels')

('Hotel Mons am Goetheplatz', 'Comfort Single Room')
('Hotel Mons am Goetheplatz', 'Standard Single Room')
('Hotel Mons am Goetheplatz', 'Comfort Double Room')
('Hotel Mons am Goetheplatz', 'Single Room with Shared Bathroom')
('Hotel Mons am Goetheplatz', 'Standard Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')
('Hotel Freisinger Hof', 'Classic Single Room - Annex')
('Hotel Freisinger Hof', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Suite')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room')
('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')